<div>
    {{ctrl.tickets}}

    <!-- source codes -->
    <tabset>
        <tab ng-repeat="sourceCode in ctrl.sourceCodes track by $index"
             heading="{{sourceCode.filename}}" active="tab.active" disable="tab.disabled">

            <procgarden-editor source-code="sourceCode"></procgarden-editor>
        </tab>
    </tabset>

    <!-- tickets -->
    <tabset>
        <tab ng-repeat="ticket in ctrl.tickets track by $index"
             heading="ア！" active="tab.active" disable="tab.disabled">

            <procgarden-ticket ticket="ticket"></procgarden-ticket>
        </tab>
    </tabset>

    <input type="button" value="AAAA" ng-click="ctrl.submit()">
</div>
