<div class="pg-ctrl-full">
    <div class="container-fluid pg-has-no-extra-space">
        <div class="row pg-has-no-extra-space">
            <div class="col-sm-12 pg-has-no-extra-space">

                <procgarden-language-selector
                    profiles="$parent.ctrl.profiles"
                    current-profile="$parent.ctrl.currentProfile">
                </procgarden-language-selector>

                <span class="label" ng-class="ctrl.getPhaseStyle()">
                    {{ctrl.getPhaseText()}}
                </span>

                <div ng-show="ctrl.currentProfile.is_build_required">
                    <accordion close-others="false" class="pg-accordion">
                        <procgarden-ticket-exec
                            name="compile"
                            exec="ticket.compile"
                            exec-profile="$parent.ctrl.currentProfile.compile">
                        </procgarden-ticket-exec>

                        <div ng-show="ctrl.currentProfile.is_link_independent">
                            <procgarden-ticket-exec
                                name="link"
                                exec="ticket.link"
                                exec-profile="$parent.ctrl.currentProfile.link">
                            </procgarden-ticket-exec>
                        </div>
                    </accordion>
                </div>

                <div ng-repeat="exec in ticket.execs track by $index">
                    <procgarden-ticket-exec-input
                        exec="exec"
                        exec-profile="$parent.ctrl.currentProfile.exec">
                    </procgarden-ticket-exec-input>
                </div>

            </div>
        </div>
    </div>
</div>
