$navbar-height:             40px;
$footer-height:             50px;

$navbar-inverse-bg: #6daf11;
$navbar-inverse-link-color: #eee;

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

//
.navbar-procgarden {
    @extend .navbar-inverse;

    .logo {
        margin-top: -4px;
        height: ($navbar-height - 4px);
    }

    .navbar-brand-procgarden {
        @extend .navbar-brand;
        margin-top: -4px;
        color: #ffffff;
    }
}


// Set the fixed height of the footer here
#footer {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
    // Set the fixed height of the footer here
    height: ($footer-height);
    background-color: #f5f5f5;
}

#footer > .container-fluid {
    position: relative;
}
